html {
  scroll-behavior: smooth;
}

.hashtagsContainer {
  width: 25%;
  border: 2px solid black;
  border-radius: 20px;
  font-style: italic;
  float: right;
  padding: 10px 5px 10px 5px;
  align-content: space-around;
  justify-content: center;
      position: relative
}


.keyword {
  display: inline-flex;
  margin: 3px;
}
.keyword:hover {
  font-size: 1.1em;
  font-weight: bold;
     color: red;
}

.TweetsContainer {
  margin: 0px 5px 0px 5px;
  float: left;
  width: 70%;
  height: 90%;
  overflow-y: scroll;
    overflow-x: hidden;
}
.visible-scrollbar, .invisible-scrollbar, .mostly-customized-scrollbar {
  display: block;
  width: 10em;
  overflow: auto;
  height: 2em;
}

body ::-webkit-scrollbar {
    width: 20px;
    height: 150px;
}

body ::-webkit-scrollbar-track {
    height: 50px;
    background: none;
    border-radius: 0;
}

body ::-webkit-scrollbar {
    width: 10px;
    height: 150px;
    margin: 5px;
}

body ::-webkit-scrollbar-thumb {
    cursor: pointer;
    height: 250px;
    border-radius: 5px;
    width: 0px;
    /* background: rgba(255, 18, 18, 0.25);
    -webkit-transition: color .2s ease;
    transition: color .2s ease; */
    background-color: orange;
    -webkit-animation: random 45s infinite;
    animation: random 45s infinite;
}
@keyframes  random {
   30% { background-color: red; }
   30% { background-color: yellow; }
   30% { background-color: green; }
   60% { background-color: blue; }
   75% { background-color: purple; }

}
  body ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 18, 18, 0.5);
  }
/* ::-webkit-scrollbar {
  display:  none;
} */
