.App {
  width: 100%;
  height: 100%;
  background-color: #e6ecf0;
  /*---------FONT---------------*/
  text-align: left;
  font-family: HelveticaNeue;
  font-size: 14px;
  color: black;
}



.grid {
  display: grid;
  grid-auto-columns: minmax(60px, auto);
  grid-auto-rows: auto;
  grid-gap: 30px;
  padding: 40px;
}

/* header */
.item:first-child {
  grid-column: 1/span 5;
  background-image: url(./springbanner.jpeg);
}
.header {
  height: 200px;
}

/* feed */
.item:nth-child(2) {
  margin-left: 50px;
  grid-column: 1 / span 2;
  grid-row-end: 5;
  grid-row-start: span 3;
}

/* sidebar */
.item:nth-child(3) {
  grid-column: 3 / span 2;
}

/* footer */
.item:nth-child(4) {
  grid-column: 1/ span 3;
}

/* ------------------------------------------ */

.main-body {
  display: flex;
  flex-direction: column;
  background-color: white;
  min-height: 80rem;
  padding: 50px;

}
.inner-body {
  display: grid;
  font-size: 16px;
  /* flex-direction: grid; */
  background-color: white;
  line-height: 1x;
  /* padding-left: 10px; */
  margin:10px 0 10px 0px;
  width: 100%;
  display: inline-flex;
  vertical-align: middle;
}


.picture {
  margin-left: 24px;
  /* margin-top: 17px; */
  border-radius: 50%;
  width: 52px;
  height: 52px;
  position: relative;
}

.tweet-body {
  /* display: flex; */
  float: left;
  flex-direction: column;
  vertical-align: middle;
  width: 100%;
  height: auto;
  background-color: white;
  margin:10px 0 10px 0px;
}

.body {
  max-width: 100%;
  float: left;
  display: inline;
}
.sidebar {
  max-width: 20%;
  /* float: right; */
  display: flex;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 15vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.name {
  font-weight: bold;
  padding-top: 20px;
    margin-left: 20px;
  /* margin-top: -50px; */
  width: fit-content;
  /* height: 20px; */
  font-style: italic;
  display: flex;
}

.handle {
  padding-top: 20px;
  margin-left: 20px;
  /* margin-top: -50px; */
  width: fit-content;
  /* height: 20px; */
  font-style: italic;
  display: flex;
  display: float-right;
}

.tweet {
  /* margin-top: 7px; */
  display: grid;
  margin:10px 0px 10px 0;
  font-size: 16px;
  /* flex-direction: grid; */
  background-color: white;
  line-height: 1x;
  padding-left: 10px;

  width: 100%;
  display: inline-flex;
  vertical-align: middle;
}

div.main {
  width: 600px;
  align-self: center;
}

.Content {
  display: inline;
  width: 100%;
  margin-left: 80px;
  margin-top: -20px
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
