ModalExample.main-body {
  display: flex;
  flex-direction: column;
  background-color: white;
  min-height: 80rem;
  padding: 50px;
}

.grid {
  display: grid;
  grid-template-columns: 12% auto 10%;
  grid-auto-rows: minmax(60px, auto);
  grid-gap: 10px;
}

.tweet-row-one {
  display: grid;
  font-size: 16px;
  background-color: white;
  line-height: 1x;
  margin:10px 0 10px 0px;
  width: 100%;
  display: inline-flex;
  vertical-align: middle;
}

a {
  margin: 5px;
  font-size: 15px;
  color: black;
  font-weight: bold;
  float: right;
}

.topicsNav {
  border-bottom: 3px solid black;
  width: 70%;
  margin-top: 80px;
  margin-bottom: 20px;
  margin-left: 10px;
  padding-bottom: 10px;
  text-align: right;
}

.topicsNav button, button.ui.button {
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 15px;
  background-color: white;
  font-size: 18px;
  border: none;
  font-weight: bolder;
}
.topicsNav button:hover, button.ui.button:hover {
  background-color: orange;
  font-weight: bolder;
  color: black;
}

.userSettingsContainer {
  width: 25%;
  border: 2px solid black;
  /* border-radius: 10px; */
  font-style: italic;
  float: right;
  padding: 10px 5px 10px 5px;
  align-content: space-around;
  text-align: center;
  /* position: relative; */
  box-shadow: 3px 4px 0px #4e57ef;
}

.header {
  height: fit-content;
  padding-bottom: 60px;
  font-weight: bold;
  height: 40px;
  width: auto;
     background-color: orange;
     -webkit-animation: random 45s infinite;
     animation: random 45s infinite;
}
@keyframes  random {
    30% { background-color: red; }
    30% {color: teal;}
    30% { background-color: yellow; }
    30% { color: black; }
    30% { background-color: green; }
    30% { color: white; }
    60% { background-color: blue; }
    60% { color: #ff5e00; }
    75% { background-color: purple; }
    75% { color: yellow; }
}


nav a {
  font-size: 18px;
  margin: 10px;
}

div.tweet-body {
  max-width: 100%;
  float: left;
  display: inline;
  word-wrap: normal;
  padding: 0;
}
.profile-pic {
  border-radius: 50%;
  width: 100%;
  height: auto;
  padding: 5px;
  margin-top: 20px;
  position: relative;
  float: left;
}
.tweet-card {
  float: left;
  flex-direction: column;
  vertical-align: middle;
  height: auto;
  background-color: white;
  margin:0px 0 10px 0px;
  padding: 2px;
  border: 1px solid grey;
  width: 100%;
}

div.tweet-content {
  display: inline;
  width: 100%;
  font-size: 17px;
  height: fit-content;
  margin: -20px 0px 20px 0px;
}
.name {
  font-weight: bold;
  padding-top: 22px;
  width: fit-content;
  font-style: italic;
  display: flex;
}

.handle {
  padding-top: 20px;
  margin-left: 20px;
  width: fit-content;
  font-style: italic;
  display: flex;
  display: float-right;
}

.tweet {
  width: 640px;
  display: grid;
  margin:10px 0px 10px 0;
  font-size: 16px;
  background-color: white;
  line-height: 1x;
  padding-left: 10px;
  overflow-wrap: normal;

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup\_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  border-radius: 20px;
  background: white;
}
}

div.votes {
  margin: 10px 5px 0 0;
  width: 90%;
  float: right;
}

.upvote, .downvote {
  border: none;
  border-radius: 30%;
  float: right;
  font-size: 26px;
  margin: 10%;
  background-color: rgba(255,18,18, 0.5);
  padding: 5px;
  width: 70%;
  height: 1.7em;
}

.upvote:hover, .downvote:hover {
  border: 2px solid orange;
}
div.nav {
  float: right;
  margin-top: 5px;
}

.nav a {
  padding: 5px;
}

.logout {
  /* background-color: white; */
  border: red solid 2px;
  padding: 5px;
  display: flex;
}

.login {
  /* background-color: white; */
  border: green solid 2px;
  padding: 5px;
  display: flex;
}

.login:hover, .logout:hover {
  border: orange solid 2px;
}

button {
  background-color: orange;
  border-radius: none;
  font-size: 20px;
  font-weight: bolder;
}
button:hover {
  background-color: pink;
  border: 1px solid orange;
}
.delete-btn {
  background-color: white;
  float: right;
  font-size: 12px;
  border: none;
  font-weight: normal;
  text-align: center;
  margin: 30px 0 10px 0;
}

.delete-btn:hover {
  font-size: 13px;
  font-weight: bolder;
}

.created {
  float: right;
  text-align: right;
  font-style: italic;
  font-weight: bold;
  padding-top: 20px;
  margin-left: 20px;
}

button.all-tweets {
  box-shadow: 1px 2px 0px #4e57ef;
  background-color: grey;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
}

.title {
  font-weight: bolder;
  font-size: 50px;
  text-shadow: 1px 1px 0 white;
  padding-left: 15px;
  padding-right: 15px;
}
img.media_url {
  max-width: 70%;
  height:auto;
  border-radius: 0;
  padding: 5px 0px 10px 0px;
}

/* Tweet url preview */
.other a {
  color: black;
    font-size: 16px;
}

.microlink_card__content_title.sc-htpNat.bXmqbP {
  font-size: 14px;
  color: black;
  cursor: pointer;
}
.microlink_card {
margin-left: 10%;
margin-right: 10%;
width: 80%;
height: auto;
border:0px;
border-width: 0px;
}

.cCSipI.cCSipI.cCSipI:hover {
  color: black;
  font-style: normal;
  border-width: 0px;
}

.microlink_card__content_description.sc-bxivhb.eOrjhk  {
  color: black;
  cursor: pointer;
  font-size: 20px;
}

.kILUk {
  border-width: 0px;
}
