aModalExample.main-body {
  display: flex;
  flex-direction: column;
  background-color: white;
  min-height: 80rem;
  padding: 50px;

}
.inner-body {
  display: grid;
  font-size: 16px;
  /* flex-direction: grid; */
  background-color: white;
  line-height: 1x;
  /* padding-left: 10px; */
  margin:10px 0 10px 0px;
  width: 100%;
  display: inline-flex;
  vertical-align: middle;
}

a {
  margin: 5px;
  font-size: 15px;
  color: black;
  font-weight: bold;
  float: right;
}

.topicsNav {
  border-bottom: 3px solid black;
  width: 70%;
  margin-top: 80px;
  margin-bottom: 20px;
  margin-left: 10px;
  padding-bottom: 10px;
  text-align: right;
}

.topicsNav button {
  /* margin: 5px; */
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 15px;
  background-color: white;
  font-size: 20px;
  border: none;
  font-weight: bolder;
}
.topicsNav button:hover {
  /* padding: 20px; */
  background-color: orange;
  font-size: 20px;
  /* border: 1px solid black; */
  font-weight: bolder;
}



.header {
  height: auto;
  font-weight: bold;
  height: 40px;
  width: auto;
     background-color: orange;
     -webkit-animation: random 45s infinite;
     animation: random 45s infinite;
}
@keyframes  random {
    30% { background-color: red; }
    30% { background-color: yellow; }
    30% { background-color: green; }
    60% { background-color: blue; }
    75% { background-color: purple; }

}

nav a {
  font-size: 18px;
  margin: 10px;
}

div.body {
  max-width: 80%;
  float: left;
  display: inline;
  word-wrap: normal;
}




img {
  margin-left: 10px;
  margin-top: 18px;
  border-radius: 50%;
  width: 8%;
  height: 8%;
  position: relative;
  float: left;
}
.tweet-body {
  /* display: flex; */

  float: left;
  flex-direction: column;
  vertical-align: middle;
  height: auto;
  background-color: white;
  margin:0px 0 10px 0px;
  padding: 2px;
  border: 1px solid grey;
  width: 100%;
}

div.tweet.content {
  display: inline;
  /* width: 80%; */
  /* text-align: justify; */
  height: fit-content;
  margin-top: -20px
}
.name {
  font-weight: bold;
  padding-top: 20px;
    margin-left: 20px;
  /* margin-top: -50px; */
  width: fit-content;
  /* height: 20px; */
  font-style: italic;
  display: flex;
}

.handle {
  padding-top: 20px;
  margin-left: 20px;
  /* margin-top: -50px; */
  width: fit-content;
  /* height: 20px; */
  font-style: italic;
  display: flex;
  display: float-right;
}

.tweet {
  /* margin-top: 7px; */
  width: 640px;
  display: grid;
  margin:10px 0px 10px 0;
  font-size: 16px;
  /* flex-direction: grid; */
  background-color: white;
  line-height: 1x;
  padding-left: 10px;
  overflow-wrap: normal;

  /* width: 700px;
  display: inline-flex;
  vertical-align: middle; */

  .popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup\_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  border-radius: 20px;
  background: white;
}
}
div.votes {
  width: 10%;
  /* display: flex; */
  float: right;
}

.upvote, .downvote {
  border: none;
  border-radius: 30%;
  float: right;
  /* padding: none; */
  font-size: 26px;
  /* background-color: white; */
  /* display: flex; */
  background-color: rgba(255,18,18, 0.5);
  /* padding-top: 5px;
  padding-bottom: 5px; */
  /* padding: 5px; */
  width: 45px;
  height: 45px;
}

.upvote:hover, .downvote:hover {
  font-size: 34px;
  margin: 1px;
}
div.nav {
  float: right;
  margin-top: 5px;
}

.nav a {
  padding: 5px;
}

.logout {
  /* background-color: white; */
  border: red solid 2px;
  padding: 5px;
  display: flex;
}

.login {
  /* background-color: white; */
  border: green solid 2px;
  padding: 5px;
  display: flex;
}

.login:hover, .logout:hover {
  border: orange solid 2px;
}

button {
  background-color: orange;
  border-radius: none;
  font-size: 20px;
  font-weight: bolder;
}
button:hover {
  background-color: pink;
  border: 1px solid orange;
}
